{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Movie Review API{% endblock %}</title>
    <style>
        *{margin:0;}
        h1,p{margin:20px;}
        nav {display:flex; border:2px darkred solid; border-radius:10px; border-top:0; border-right:0; background-color:black; margin:10px;width: 550px;}
        li{color:white; list-style-type:none; justify-content:flex-end;margin: 10px; font-size:26px;}
        li:hover{color:green;}
       ul {display:flex; justify-content:space-between; margin:0px; }
      a {display:flex;text-decoration:none;}
    </style>
</head>
<body >
    <div>
    <nav>
        <ul>
        <a href=""><li>Home</li></a>
        <a href=""><li>Movies</li></a>
        <a href=""><li>Register</li></a>
        <a href=""><li>Login</li></a>
        <a href=""><li>Logout</li></a>
        </ul>
    </nav>
</div>
    {% block content %}
    {% endblock %}

    <footer>
        <p>© 2025 Movie Review API | Built with Django</p>
    </footer>
</body>
</html>